.cartItem{
    background-color: lightgray;
    border-bottom: 5px solid red;
}
.itemName{

}
.itemPrice{

}
.itemQuantity{

}
.removeButton{
    display: inline-block;
    position: relative;
    top: 50%;
    border-radius: 50%;
    transform: translate(0%,-50%);
    background-image: url(../assets/cancel.svg),none;
    background-color: red;
    background-size: contain;
    border-color: white;
    width: .5rem;
    height: .5rem;
    background-position: center;
    background-repeat: no-repeat;
}
.addButton{
    display: inline-block;
    position: relative;
    top: 50%;
    border-radius: 50%;
    transform: translate(0%,-50%);
    background-image: url(../assets/check.svg),none;
    background-color: green;
    background-size: contain;
    border-color: white;
    width: .5rem;
    height: .5rem;
    background-position: center;
    background-repeat: no-repeat;
}